body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}



.media-info-msg {
    position: fixed;
    top: 0;left: 0;width: 100vw;height: 100vh;
    display: flex;justify-content: center; align-items: center;
    opacity: 1; background-color: orange;
}

@media screen and (max-width:500px){
    .media-info-msg{
        display: none;
    }
}
/* header.css */



header {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #edfdef;
}
.info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.info-bar__icons img {
    width: 15px;
}
.info-bar__time {
    font-size: 14px;
    font-weight: bold;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
}

.menu-bar__location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}

.menu-bar__location img {
    width: 15px;
}

.menu-bar__location-icon {
    display: flex;

}
.menu-bar__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar__icons img {
    width: 25px;
    margin-right: 10px;
}

/* main.css */

main {
    padding: 30px 20px;
}
.item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #edfdef;
    padding: 20px 0;
}

.item-list-img {
    width: 130px; height: 130px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 20px;
    display: flex; justify-content: center; align-items: center;
    
}

.item-list-img img {
    width: 50px; height: 50px;
    
}

.item-list-info {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.item-list-info div {
    margin-top: 10px;
}

.item-list-info-meta {
    font-size: smaller;
    color: rgba(0, 0, 0, 0.3);
}
.item-list-info-price {
    font-weight: bold;
}

.write-button {
    position: fixed; bottom: 80px; right: 20px;
    background-color: #fe6f0f;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 1px 2px 2px #fe6f0f;
}

/* footer.css */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-bottom: 10px;
    background-color: #fff;

}

.footer-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-icons {
    font-size: 10px;
    text-align: center;
}

.footer-icons__img {
    width: 30px; padding-bottom: 5px; text-align: center;
}
